{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "marshal" }}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

import "encoding/json"

{{ range $n := $.Nodes }}

{{- range $i, $f := $n.Fields }}
	{{/* 如果有status字段，则调整MarshalJSON */}}
	{{- if eq $f.Name "status" }}
	type Marshal{{ $n.Name }} {{ $n.Name }}
	func (t *{{ $n.Name }}) MarshalJSON() ([]byte, error) {
		tmp := (*Marshal{{ $n.Name }})(t)
		tmp.StatusDesc = tmp.Status.String()
		return json.Marshal(tmp)
	}
	{{- end }}

	{{- if eq $f.Name "result" }}
	type Marshal{{ $n.Name }} {{ $n.Name }}
	func (t *{{ $n.Name }}) MarshalJSON() ([]byte, error) {
		tmp := (*Marshal{{ $n.Name }})(t)
		tmp.ResultDesc = tmp.Result.String()
		return json.Marshal(tmp)
	}
	{{- end }}
{{- end }}

{{ end }}

{{ end }}
