$darkBlue = #1890ff
$dark = #282c34 
$blue = #409eff
$lightBlue = #ecf5ff
$white = #fff
$lightGray = #f2f2f2
$darkGray = #666
$green = #67c23a
$brown = #e6a23c

$mainHeaderHeight = 60px
$mainNavWidth = 200px
$mainNavShrinkingWidth = 60px

$mainMargin = 20px
