*
  margin: 0
  padding: 0
body
  background-color: #f0f2f5
  color: #333
  font-family: Open Sans,Helvetica Neue,Arial,Verdana,sans-serif
  margin: 0

*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

a
  color: #1890ff
  text-decoration: none

.hidden
  visibility: hidden
.tac
  text-align: center

#app
  min-height 100vh

// 设置几个常用组件100%的处理（由于scoped的未生效）
.el-date-editor.fullFill
  width: 100% !important
